@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$bkgndandbttn-color: #A9D3FF;
$regulartext-color: #192A51;
$outerbkgnd-color: #403D39;
$block-color: #CCC5B9;
$weather-color: #006E90;
$weatherbox-width: 33%;
$weatherbox-display: inline-block;
$hover-color: yellow;

@import 'stylenuggets/input';
@import 'stylenuggets/summary';
@import 'stylenuggets/directions';

body {
    @include grid-row(12);

    header {
        @include grid-column(12);
        background-color: $regulartext-color;
        min-height: 50px;
        text-align: center;
        
        h1 {
            color: $bkgndandbttn-color;
            font-weight: 800;
            font-size: 24px;

        }            
    }

    main {
        @include grid-column(12);
        background-color: $outerbkgnd-color;
        height: 560px;
        overflow-y: scroll;

        #darksky {
            text-align: right;

            a {
                text-decoration: none;
                color: white;
                font-size: 12px;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }

    footer {

        #pageButtons {
            @include grid-column(12);
            background-color: $regulartext-color;
            min-height: 50px;
            display: inline-flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;

            a {
                text-decoration: none;
                color: $bkgndandbttn-color;
                font-weight: 800;
                font-size: 24px;

                &:hover {
                    color: $hover-color;
                }
            }            
        }
    }
}