#inputNugget {
    text-align: center;
    color: $bkgndandbttn-color;

    input {
        width: 350px;
        text-align: center;
        color: $regulartext-color;
        background-color: $block-color;
        border: $block-color;
    }

    #scheduleBox {
        display: block;

        div {
            display: inline-block;
            width: 45%;
            vertical-align: top;

            select {
                display: block;
                margin: 10px auto;
                background-color: $block-color;
                color: $regulartext-color;
                width: 350px;
            }     
        }

    }
 
    button {
        display: block;
        margin: 40px auto 0px auto;
        padding: 10px 25px;
        background-color: $regulartext-color;
        font-weight: 800;
        font-size: 24px;
        border-radius: 20px;

        &:hover {
            color: $outerbkgnd-color;
        }
    }

    // #darksky {
    //     text-align: right;

    //     a {
    //         text-decoration: none;
    //         color: white;
    //         font-size: 12px;

    //         &:hover {
    //             color: $regulartext-color;
    //         }
    //     }
    // }
}