#summaryNugget {
    text-align: center;
    color: $regulartext-color;

    h1 {
        color: $bkgndandbttn-color;
    }
    
    .wi {
        color: $weather-color;
        font-size: 3em;
        height: 100%;
    }

    .summaryBox {
        border: solid 1px $regulartext-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $block-color;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .boxPart {
            width: $weatherbox-width;
            display: $weatherbox-display;
        }
    }

    #directionClicker {
        button {
            display: block;
            margin: 40px auto 0px auto;
            padding: 10px 25px;
            background-color: $regulartext-color;
            font-weight: 800;
            font-size: 24px;
            border-radius: 20px;
            color: $bkgndandbttn-color;

            &:hover {
                color: $hover-color;
            }
        }
    }
}