<section id="directionsNugget">
    <h1>Directions</h1>
    <div class="directionBox" ng-repeat="direction in directionsArray">
        <div class="boxChunk">
            <i class="material-icons">{{ direction.step.maneuver }}</i>
            <h2>{{ direction.displayTime }}</h2>
        </div>
        <div class="boxChunk">
            <p ng-bind-html="direction.HTMLinstruction"></p>
            <p>for {{ direction.step.duration.text }} or {{ direction.step.distance.text }}</p>
        </div>
        <div class="boxChunk">
            <p>{{ direction.weathers[0].currently.summary }}</p>
            <i class="wi {{ direction.weathers[0].currently.icon }}">  {{ direction.weathers[0].currently.temperature }}°F</i>
        </div>
    </div>
</section>