<section id="summaryNugget">
    <h1>Summary</h1>
    <div class="summaryBox" ng-repeat="summary in summaryArray">
        <div class="boxPart">
            <h2>{{ summary.displayTime }}</h2>
            <h2>{{ summary.weathers[0].currently.temperature }}° Fahrenheit</h2>
        </div>
        <div class="boxPart">
            <h2>{{ summary.displayCity }}, {{ summary.displayState }}</h2>
        </div>
        <div class="boxPart">
            <h2>{{ summary.weathers[0].currently.summary }}</h2>
            <i class="wi {{ summary.weathers[0].currently.icon }}"></i>
        </div>
    </div>
</section>